<h1 id='{{timeRange}}'> My Top Spotify Tracks {{timeRange}}</h1>

<ol>
{{#each metricData}}
        <li id={{spotifyID}}>{{title}}  -  {{artists}}</li>
{{/each}}
</ol>


<button id="create-playlist">Create Spotify Playlist</button>

<script type='text/javascript' src="scripts/top-tracks.js"></script>